body {
  margin: 0;
}
p {
  font-family: "Poppins";
  font-style: normal;
}
a {
  font-family: "Poppins";
  font-style: normal;
}
button {
  font-family: "Poppins";
  font-style: normal;
}

/*header*/
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  padding-left: 95px;
  padding-right: 102px;
  padding-top: 2px;
  padding-bottom: 3px;
}
.menu-body {
  display: flex;
  align-items: center;
}
.header-burger {
  background: #212121;
  border-radius: 45px;
}
.header-list {
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
}
.header-list > li {
  display: flex;
  margin-right: 68px;
}
.header-list > li:last-child {
  margin-right: 0;
}
.visit-link-header {
  color: white;
  background: #212121;
  border: 0;
  border-radius: 45px;
  width: 122px;
  height: 53px;
  cursor: pointer;
  padding: 0;
  transition: 0.4s;
}
.visit-link-header:hover {
  color: #000000;
  background: #ffffff;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-weight: 600;
}
.join-us {
  color: white;
  background: #000000;
  border: 0;
  border-radius: 45px;
  width: 122px;
  height: 53px;
  cursor: pointer;
  padding: 0;
  transition: 0.4s;
}
.join-us:hover {
  color: #000000;
  background: #ffffff;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-weight: 600;
}

/*Discover Page*/
#discover-page {
  display: flex;
  justify-content: space-between;
  background-image: url(img/pexels-oliver-sjöström-1078981\ 1.png);
  background-repeat: no-repeat;
  height: 745px;
}
.disc-first-part {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 99px;
}
h1 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 80px;
  line-height: 96px;
  color: #d1d1d1;
  margin: 0;
}
.first-heading {
  display: flex;
  align-items: baseline;
}
.first-heading > h2 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 49px;
  line-height: 119.5%;
  color: #d1d1d1;
  margin-left: 10px;
  margin-top: 0;
  margin-bottom: 0;
}
.headings > h3 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 90px;
  line-height: 119.5%;
  color: #ffffff;
  margin: 0;
}
.headings {
  margin-top: 146px;
  margin-bottom: 59px;
}
.disc-text {
  color: #ffffff;
  margin-top: 0;
}
.disc-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 9px 30px;
  gap: 10px;
  width: 124px;
  height: 41px;
  border: 1px solid #ffffff;
  flex: none;
  order: 1;
  flex-grow: 0;
  background: transparent;
  color: #ffffff;
  transition: 0.5s;
  cursor: pointer;
}
.disc-button:hover {
  border-radius: 45px;
  background: transparent;
}
.link-explore {
  text-decoration: none;
  margin-top: 72px;
}
.photo-explore {
  display: flex;
}
.number-explore {
  background-color: #000000;
}
.numbers {
  height: 154px;
}
th {
  font-family: "JetBrains Mono";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: -2px;
  color: rgba(255, 255, 255, 0.7);
  padding-right: 78px;
  padding-top: 44px;
}
th:first-child {
  padding-left: 119px;
}
td {
  font-family: "Bevan";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 26px;
  letter-spacing: -1px;
  color: #ffffff;
  padding-right: 78px;
  padding-bottom: 44px;
  text-align: center;
}
td:first-child {
  padding-left: 119px;
}

/*Sponsors*/
#sponsors {
  background-color: #b1b1b1;
  display: flex;
  justify-content: space-between;
  padding-top: 38px;
  padding-left: 199px;
  padding-right: 199px;
  padding-bottom: 38px;
}

/*Explore*/
#explore {
  background-image: url(img/pexels-oleksandr-pidvalnyi-1004584\ 1.png);
  background-repeat: no-repeat;
  padding-left: 99px;
  padding-right: 99px;
}
.ex-head {
  display: flex;
  justify-content: center;
  padding-top: 79px;
}
.ex-head > h3 {
  margin: 0;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 75px;
  letter-spacing: 0.01em;
  color: #03cec9;
}
.ex-head > h4 {
  margin: 0;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 75px;
  letter-spacing: 0.01em;
  color: #ffffff;
}
.first-part-ex > p {
  font-weight: 400;
  font-size: 17px;
  line-height: 127.5%;
  text-align: center;
  color: #ffffff;
  margin-top: 29px;
  margin-bottom: 42px;
}
.popular-searches > p {
  font-weight: 400;
  font-size: 17px;
  line-height: 127.5%;
  color: #ffffff;
  margin-top: 27px;
}
.search-panel {
  height: 100%;
  position: relative;
}
.search-panel > img {
  position: absolute;
  top: 17px;
  left: 34px;
}
.searchbar {
  width: 470px;
  height: 51px;
  background: #f1f1f1;
  border: 1px solid rgba(18, 18, 18, 0.17);
  border-radius: 13px;
  padding: 0px 3px 0px 74px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0.01em;
  color: #8a8a8a;
}
.searchButton {
  width: 49px;
  height: 45px;
  background: #1e1325;
  border-radius: 11px;
  position: absolute;
  border: none;
  top: 4px;
  right: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: 0.4s;
}
.searchButton:hover {
  background: #03cec9;
}

.first-part-ex {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.cards-of-places {
  display: grid;
  grid-template-areas:
    "a b c"
    "d d c";
  grid-gap: 19px;
}
.card-of-place {
  background: rgba(254, 245, 245, 0.09);
  border-radius: 10px;
  backdrop-filter: blur(8px);
}
.card-of-place > img {
  margin: 13px 16px 0px 16px;
}
.card-of-place:nth-child(4) > img {
  margin-bottom: 13px;
}
.card-of-place:nth-child(1) {
  grid-area: a;
}
.card-of-place:nth-child(2) {
  grid-area: b;
}
.card-of-place:nth-child(3) {
  grid-area: c;
}
.card-of-place:nth-child(4) {
  display: flex;
  grid-area: d;
}
.card-of-place > h5 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 23px;
  line-height: 34px;
  letter-spacing: 0.01em;
  color: #f3f3f3;
  margin-top: 22px;
  margin-bottom: 22px;
  margin-left: 16px;
}
.card-of-place > .link-paces > a {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 19px;
  line-height: 28px;
  letter-spacing: 0.01em;
  color: #f3f3f3;
  margin-left: 16px;
  margin-bottom: 32px;
  text-decoration: none;
}
.card-of-place:nth-child(4) > .names-of-places > h5 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 23px;
  line-height: 34px;
  letter-spacing: 0.01em;
  color: #f3f3f3;
  margin: 89px 47px 22px 21px;
}
.card-of-place:nth-child(4) > .names-of-places > .link-paces > a {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 19px;
  line-height: 28px;
  letter-spacing: 0.01em;
  color: #f3f3f3;
  margin-top: 0;
  margin-left: 18px;
  text-decoration: none;
}
.card-of-place:nth-child(2) > h5 {
  margin: 12px 141px 14px 19px;
}
.link-paces {
  margin-bottom: 22px;
}
.link-see-more > a {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 21px;
  line-height: 32px;
  letter-spacing: 0.01em;
  color: #ffffff;
  text-decoration: none;
  border-bottom: 1px #ffffff solid;
}
#explore > .link-see-more {
  text-align: center;
  margin-top: 46px;
  padding-bottom: 32px;
}
/*Services*/
#services {
  background: #d9d9d9;
}
#services > .heading-services {
  padding-top: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 69px;
}
#services > .heading-services > h2 {
  margin: 0px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 75px;
  letter-spacing: 0.01em;
  color: #009490;
}
.cards-services {
  display: flex;
  justify-content: space-between;
  padding-bottom: 107px;
  padding-left: 108px;
  padding-right: 109px;
}
.text-of-services {
  background: #171721;
  border-radius: 4px;
  width: 207px;
  height: 114px;
  position: absolute;
  top: -20px;
  left: 37px;
}
.text-of-services > h6 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.01em;
  color: #ffffff;
  margin: 0;
  padding-top: 9px;
  text-align: center;
}
.text-of-services > p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 127.5%;
  color: #ffffff;
  margin: 0;
  padding-left: 13px;
  padding-top: 9px;
}
.images-services {
  display: flex;
  justify-content: space-around;
}
.picture-of-services {
  margin-left: 32px;
}
.first-card-services {
  position: relative;
}
.second-card-services {
  position: relative;
}
.third-card-services {
  position: relative;
}
